<!-- Look for functions in app/contact/contacts.js -->
<div class="row" ng-controller="ContactsCtrl">

<!-- Show message when user has been added or deleted -->
<div data-alert ng-show="msg" class="alert-box success radius">
  {{msg}}
  <a href="#" class="close">&times;</a>
</div>

<!-- Search Form -->
<div class="row">
  <div class="small-10 medium-8 large-7 small-centered columns">
    <div class="small-3 columns">
      <label for="right-label" class="right inline"><i class="fa fa-search"></i> Search</label>
    </div>
    <div class="small-9 columns">
      <input type="text" id="right-label" placeholder="Name/E-mail/Company" ng-model="search" />
    </div>
  </div>
</div>

<!-- Show Contact -->
<div class="row" ng-show="contactShow">
  <div class="small-10 medium-8 large-7 small-centered columns">

    <div class="header panel">
      <div class="sign">
        <h1>{{ fname }} {{ lname }}</h1>
      </div>
        <strong>Company: </strong>{{ company }}<br />
        <strong>E-mail: </strong>{{ email }}<br />
        <strong>Work Phone: </strong>{{ work_phone }}<br />
        <strong>Cell Phone: </strong>{{ cell_phone }}<br />
        <strong>Address:</strong><br />
        {{ street_address }}<br />
        {{ city }}, {{ state }} {{ zipcode }}
        <br />
        <center><a class="button secondary tiny small-centered" ng-click="hideContactShow()"> Close </a></center>

    </div>
  </div>
</div>

<!-- Show Add New Contact Form -->
<form ng-submit="addFormSubmit()" ng-show="addForm">
  <h3>Add Contact</h3>
  <div class="row">
    <div class="large-6 columns">
      <label>First Name:
      <input type="text" ng-model="fname" placeholder="First Name" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Last Name:
      <input type="text" ng-model="lname" placeholder="Last Name" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>E-mail:
      <input type="text" ng-model="email" placeholder="E-mail" required />
      </label>
    </div>

    <div class="large-6 columns">
      <label>Company:
      <input type="text" ng-model="company" placeholder="Company" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Work Phone:
      <input type="text" ng-model="work_phone" placeholder="Work Phone" required />
      </label>
    </div>

    <div class="large-6 columns">
      <label>Cell Phone:
      <input type="text" ng-model="cell_phone" placeholder="Cell Phone" />
      </label>
    </div>

    <div class="large-12 columns">
      <label>Street Address:
      <input type="text" ng-model="street_address" placeholder="Street Address" required />
      </label>
    </div>

    <div class="large-4 columns">
      <label>City:
      <input type="text" ng-model="city" placeholder="City" required />
      </label>
    </div>
    <div class="large-4 columns">
      <label>State:
      <input type="text" ng-model="state" placeholder="State" required />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Zip Code:
      <input type="text" ng-model="zipcode" placeholder="Zip Code" required />
      </label>
    </div>

    <div class="small-4 small-centered columns">
      <input type="submit" value="Add Contact" class="button success radius" />

      <a class="button alert radius" ng-click="hideAddForm()">Cancel</a>
    </div>

  </div>
</form>

<!-- Edit Contact -->
<form ng-submit="editFormSubmit()" ng-show="editForm">
  <h3>Updating Contact:</h3>
  <div class="row">
    <div class="large-6 columns">
      <label>First Name:
      <input type="text" ng-model="fname" placeholder="First Name" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Last Name:
      <input type="text" ng-model="lname" placeholder="Last Name" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>E-mail:
      <input type="text" ng-model="email" placeholder="E-mail" required />
      </label>
    </div>

    <div class="large-6 columns">
      <label>Company:
      <input type="text" ng-model="company" placeholder="Company" required />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Work Phone:
      <input type="text" ng-model="work_phone" placeholder="Work Phone" required />
      </label>
    </div>

    <div class="large-6 columns">
      <label>Cell Phone:
      <input type="text" ng-model="cell_phone" placeholder="Cell Phone" />
      </label>
    </div>

    <div class="large-12 columns">
      <label>Street Address:
      <input type="text" ng-model="street_address" placeholder="Street Address" required />
      </label>
    </div>

    <div class="large-4 columns">
      <label>City:
      <input type="text" ng-model="city" placeholder="City" required />
      </label>
    </div>
    <div class="large-4 columns">
      <label>State:
      <input type="text" ng-model="state" placeholder="State" required />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Zip Code:
      <input type="text" ng-model="zipcode" placeholder="Zip Code" required />
      </label>
    </div>

    <div class="small-4 small-centered columns">
      <input type="submit" value="Edit Contact" class="button success radius" />

      <a class="button alert radius" ng-click="hideEditForm()">Cancel</a>
    </div>

  </div>
</form>


  <div class="large-10 columns">
    <h3>Your Contacts ({{ contacts.length }})</h3>
    <table>
      <thead>
        <tr>
          <th width="200px">Name
            <span ng-click="order='fname'" class="fa fa-arrow-up"></span>
            <span ng-click="order='-fname'" class="fa fa-arrow-down"></span>
          </th>
          <th width="200px">Company
            <span ng-click="order='company'" class="fa fa-arrow-up"></span>
            <span ng-click="order='-company'" class="fa fa-arrow-down"></span>
          </th>
          <th width="25%">E-mail
            <span ng-click="order='email'" class="fa fa-arrow-up"></span>
            <span ng-click="order='-email'" class="fa fa-arrow-down"></span>
          </th>
          <th width="25%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts | orderBy:order | filter:search">
          <td><a ng-click="showContact(contact); hideAddForm(); hideEditForm();">{{ contact.fname }} {{ contact.lname }}</a></td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.email }}</td>
          <td><a class="button tiny" ng-click="showEditForm(contact); hideContactShow();">Edit</a>
              <a class="button tiny alert" ng-click="removeContact(contact)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="small-12 large-2 columns">
      <a class="button large" ng-click="showAddForm()"> + </a>
  </div>
</div>
